{% macro quote(q, sub=True, quot=True) %}
    <div class="quote" >
        <p><a href="{{ url_for("view_quote", quote_id=q.id) }}">{{ q.text }}</a></p>
        {% if quot %}
            <p>&mdash;<a href="{{ url_for("view_user", username=q.quoted.username) }}">{{q.quoted.username}}</a></p>
       {% endif %}
       {% if sub %}
           <p>Submitted by: <a href="{{ url_for("view_user", username=q.poster.username) }}">{{ q.poster.username }}</a></p>
       {% endif %}
    </div>
{% endmacro %}
