{% extends "layout.html" %}
{% import "parts/quote.html" as quote %}
{% import "parts/flash.html" as flash %}
{% block title %}Home{% endblock %}
{% block content %}
    {{ flash.display_flash_messages() }}
    <div class="row qw-quotewall">
        {% for q in recent_quotes %}
            {{ quote.quote(q) }}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <form action="{{ url_for("quote") }}" method="post">
                <div class="form-group">
                    <label for="text">Quote Text</label>
                    <textarea name="text" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="username">Who said it?</label>
                    <input name="quoted" class="form-control" list="username">
                    <datalist id="username">
                        {% for u in all_users %}
                            <option value="{{ u.username }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="form-group">
                    <button type="submit" value="submit" class="btn btn-lg btn-default">Post Quote</button>
                </div>
            </form>
        </div><!-- div.col -->
    </div><!-- div.row -->

{% endblock %}
